<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688111833006-stufudvli46ijtlhelns01m2ra07blst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688111833006-stufudvli46ijtlhelns01m2ra07blst</string>
	<key>API_KEY</key>
	<string>AIzaSyDwc-Kp-JqAhyTSUoVIJsB5Gr3wq4a7B4o</string>
	<key>GCM_SENDER_ID</key>
	<string>688111833006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harshitgajjar.RNDM</string>
	<key>PROJECT_ID</key>
	<string>mythoughts-7c370</string>
	<key>STORAGE_BUCKET</key>
	<string>mythoughts-7c370.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688111833006:ios:4e1859ef9c7a1d8d81423f</string>
	<key>DATABASE_URL</key>
	<string>https://mythoughts-7c370.firebaseio.com</string>
</dict>
</plist>